:root{
    --bg-blu: #2C3E50; 
    --bg-verde: #1ABC9C;
}

/* HEADER */

.ms_header{
    background-color: var(--bg-blu);
}

/* HERO */

.ms_hero{
    background-color:var(--bg-verde);
}

.ms_img-hero{
    width: 250px;
    height: 250px;
}

/* PORTFOLIO SECTION (CARD) */


/* ABOUT SECTION */

.ms_about-section{
    background-color: var(--bg-verde);
}

/* CONTACT ME SECTION */

.ms_form-control{
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

#ms_btn{
    background-color: var(--bg-verde);
}

/* INFO SECTION */

.info-section{
    background-color: #3A546D;
}

#ms_btn{
    background-color: var(--bg-verde);
}

/* FOOTER */

footer{
    background-color: var(--bg-blu);
}


@media screen and (min-width:768px) {
    .ms_small-container{
        max-width: 500px;
    }
}

@media screen and (min-width:992px) {
    .ms_small-container{
        max-width: 800px;
    }
}

