:root{
    --bg-blu: #2C3E50; 
    --bg-verde: #1ABC9C;
}

/* HEADER */

.ms_header{
    background-color: var(--bg-blu);
}

/* HERO */

.ms_hero{
    background-color:var(--bg-verde);
}

/* PORTFOLIO SECTION (CARD) */


/* ABOUT SECTION */

.ms_about-section{
    background-color: var(--bg-verde);
}

.ms_container{
    height: 400px;
}

@media screen and (min-width:768px) {
    .ms_container{
        max-width: 500px;
    }
}

@media screen and (min-width:992px) {
    .ms_container{
        max-width: 1000px;
    }
}

/* CONTACT ME SECTION */

.contact-section{
    height: 400px;
}

/* INFO SECTION */

.info-section{
    background-color: #3A546D;
    height: 400px;
}

/* FOOTER */

footer{
    background-color: var(--bg-blu);
    height: 100px;
}
